form {

    width: 350px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    background-color: white;
    text-align: center;
    overflow: auto;

}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;

}

th {
    font-size: 13px;
    font-weight: normal;
    padding: 15px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: black;
    border-collapse: collapse

}

td {
    padding: 18px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: black;
    border-collapse: collapse

}

#form_producto,#form_modificar_producto{

    width: 850px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    background-color: white;
    text-align: center;

}

img{
    width: 100px;
    height: 100px;
}



input[type="email"],input[type="password"],select {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;

}

input[type="text"],input[type="number"]{

    font-size: 16px;
    height: auto;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

select{

    border: black 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

div input[type="button"],button{

    background: #4285F4;
    width: 50%;
    border: 0;
    border-radius: 5px;
    padding: 12px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 2px;

}


form div {

}

input[type="submit"]:hover {
    background: #5691f1;

}

label {
    display: block;
    padding-bottom: 0.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.celda{
    width: 450px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    text-align: center;
    margin: 10px;

}

body{

}

#datos{
   margin: 20px auto;
    height:800px;
    width: 600px;
    overflow: auto;
    border-radius: 10px;
}

#borrar{
    outline: none;
    background: #4285F4;
    width: 50%;
    border: 0;
    border-radius: 5px;
    padding: 12px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 2px;
    text-decoration: none;
}

.ocultar{
    display: none;
}

nav {
    overflow: hidden;

}

nav input[type="button"],button{

    background: #4285F4;
    border: 0;
    border-radius: 5px;
    padding: 12px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 2px;

}


